.conteiner {
    width: 100%;
    max-width: 960px;
    padding: 0 20px; 
    box-sizing: border-box;
    /* border: 1px solid red;   */
    margin:0 auto ;

}
body {
    background: #1E90FF;
}
header{
    height: 80px;
    width: 100%;
    background: #333;
}
nav{
    height: 100%;

}
#br-cima {
    height: 60px;
}
.img-centro{
    width: 280px;
    height: 250px;
    border: 5px dotted #666;
}
#img-centro-baixo{
    margin-top: 30px;
    width: 400px;
    height: 240px;
    border: 5px dotted #666;
}
figcaption {
    font-size: 10px;
    color: gray;
}
section {
    text-align: center;
    height:80%;
    width: 100%;
    background: #fafafa;
    font-size: 12px;
    line-height:1.5;
}
div {
    background: rgb(10, 20, 80);
    width: 100%;
    height: 80%;
      /* border: 2px solid red;   */
}
#br-meio {
    height: 45px;
    font-size: 0.9em;
}
.img-logo {
    background: #333;
    margin-left:195px;
    width: 12%;
    width: 110px;
    height: 60px;
}
h1 {
    text-align: center;
    font-size: 3em;
    color: white;
}
h1 #br-meio {
    font-size: 2em;
}
p#historia{
    text-align: left;

}
p{
    padding: 15px;
}
